@import "tailwindcss";

@theme {
    --animate-fade-in: fadeIn 0.5s ease-out;
    --animate-fade-in-up: fadeInUp 0.5s ease-out;
    --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}